/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/variables';
@import './utils/visually_hidden';

@import './base/common';
@import './base/container';

@import './layout/modal';
@import './layout/modal-team';
@import './layout/gallery';
@import './layout/testing-header';
@import './layout/switch-theme';
@import './layout/preloader';

@import './layout/header';
@import './layout/library';

@import './layout/footer';

