<div class='emptyLibrary-list'>
  <h3 class='emptyLibrary__title'>Oops...</h3>
  <p class='emptyLibrary__text'>There's nothing in the library yet. Select and add to your library
    to quickly find your favorite movies!</p>
  <a class='emptyLibrary__link' href=''>Home</a>
</div>