<div class='emptyLibrary-list gallery-bgr'>
  <h3 class='emptyLibrary__title'><span class="emptyLibrary__title-par">WATCHED</span> is empty...</h3>
  <p class='emptyLibrary__text'>There's nothing in the watched yet. 
    <p class="emptyLibrary__text_too">Select and add to your
    library 
    <p class="emptyLibrary__text_next">to quickly find your favorite movies!</p>
  <a class='emptyLibrary__link link' href=''>Home</a>
  {{!-- <p class='emptyLibrary__text-or'>Or some below</p> --}}
</div>