<ul class='list main__navigationLibrary'>
  <li class='main__navigationLibrary-item'>
    <button class='header-button header-button-watched is-active-btn'>watched</button>
  </li>
  <li class='main__navigationLibrary-item'>
    <button class='header-button header-button-queue'>queue</button>
  </li>
</ul>