<div class='backdrop is-hidden modal'>
  <div class='modal-container'>
    <button class='modal-close-btn' data-modal-close>
      <svg class='modal-close-btn__icon'>
        <use href='./images/icons/sprite.svg#close-modal'></use>
      </svg>
    </button>

    <div class='modal-movie-card'>

    </div>

    <ul class='modal-btn-list list'>
      <li class='modal-btn-list-item'>
        <button class='modal-add-watched-btn uppercase'>add to Watched</button>
      </li>
      <li class='modal-btn-list-item'>
        <button class='modal-add-queue-btn uppercase'>add to queue</button>
      </li>
    </ul>
  </div>

</div>