<div class='backdrop is-hidden modal'>
  <div class='modal-container'>
    <button class='modal-close-btn' data-modal-close>close</button>

    <div class='movie-card'>

    </div>

    <ul>
      <li>
        <button>add to Watched</button>
      </li>
      <li>
        <button>add to queue</button>
      </li>
    </ul>
  </div>

</div>