<div class='backdrop is-hidden modal'>
  <div class='modal-container'>
    <button class='modal-close-btn'>
      <svg class='modal-close-btn__icon' width='30' height='30' viewBox='0 0 30 30'>
        <use href='./images/icons/sprite.svg#close-modal'></use>
      </svg>
    </button>

    <div class='modal-movie-card'>

    </div>

    <ul class='modal-btn-list list'>
      <li class='modal-btn-list-item'>
        <button class='add-watched-btn uppercase'>add to watched</button>
      </li>
      <li class='modal-btn-list-item'>
        <button class='add-queue-btn uppercase'>add to queue</button>
      </li>
    </ul>
  </div>

</div>