<header class="header">
  <div class="conteiner">
    <nav class="navigation">
      <a class="link navigation__logo-link" href="index.html">Filmoteka</a>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="link navigation__link navigation-link-home current" href="index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link navigation-link-my-library" href="">my library</a>
        </li>
      </ul>
    </nav>
    <div class="film-search">
      <input class="navigation__search" type="text" placeholder="Поиск фильмов" />
      <svg class="film-search__icon" width="12px" height="12px">
        <use href="./images/icons/search.svg#search-icon"></use>
      </svg>
      <!-- <p class="error__message hidden">По такому запросу ничего не найдено</p> -->
    </div>
</header>
