<header class="header header__library">
  <nav class="navigation">
    <div class="navigation__logo">
      <a class="link navigation__logo-link" href="index.html">
        <svg class="logo_svg">
          <use href="./images/icons/film.svg#film"></use>
        </svg>
        <!-- xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="film">
    <path d="M19.82 2H4.18A2.18 2.18 0 002 4.18v15.64A2.18 2.18 0 004.18 22h15.64A2.18 2.18 0 0022 19.82V4.18A2.18 2.18 0 0019.82 2zM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5m10 0h5M17 7h5" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M19.82 2H4.18A2.18 2.18 0 002 4.18v15.64A2.18 2.18 0 004.18 22h15.64A2.18 2.18 0 0022 19.82V4.18A2.18 2.18 0 0019.82 2zM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5m10 0h5M17 7h5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg> -->

        <span class="logo">Filmoteka</span>
      </a>
    </div>
    <ul class="navigation__list list">
      <li class="navigation__item">
        <a class="link navigation__link navigation-link-home current" href="index.html">Home</a>
      </li>
      <li class="navigation__item">
        <a class="link navigation__link navigation-link-my-library" href="">my library</a>
      </li>
    </ul>
  </nav>

  <form class="search">
    <input class="navigation__search" type="text" placeholder="Поиск фильмов" />
    <svg class="film-search__icon" width="12px" height="12px">
      <use href="./images/icons/search.svg#search-icon"></use>
    </svg>
    <p class="error__message hide_message"></p>
  </form>
</header>
