<div class="backdrop-team is-hidden-team modal-team">
  <div class="modal-team-container">
    <button class="modal-team-close-btn">
      <svg class="modal-team-close-btn__icon" width="30" height="30" viewBox="0 0 30 30">
        <use href="./images/icons/sprite.svg#close-modal"></use>
      </svg>
    </button>

    <ul class="modal-team-list list">
      <li class="modal-team-list_item">
        <img
          class="modal-team-img"
          src="./images/team/konstantin-kiselov.jpg"
          alt="Konstantin Kiselov"
        />
        <div class="modal-team-list_thumb">
          <p class="modal-team-name">Konstantin</p>
          <p class="modal-team-name">Kiselov</p>
          <a class="modal-team-link" href="https://github.com/Konstantin-Kiselov">
            <img class="modal-team-icon-github" src="./images/icons/icon-github.png" alt="" />
          </a>
        </div>
      </li>

      <li class="modal-team-list_item">
        <img
          class="modal-team-img"
          src="./images/team/liydmila-romanchenko.jpg"
          alt="Liydmila Romanchenko"
        />
        <div class="modal-team-list_thumb">
          <p class="modal-team-name">Liydmila</p>
          <p class="modal-team-name">Romanchenko</p>
          <a class="modal-team-link" href="https://github.com/LyudmilaRomanchenko">
            <img class="modal-team-icon-github" src="./images/icons/icon-github.png" alt="" />
          </a>
        </div>
      </li>

      <li class="modal-team-list_item">
        <img
          class="modal-team-img"
          src="./images/team/olya-pryanishnikova.jpg"
          alt="Olya Pryanishnikova"
        />
        <div class="modal-team-list_thumb">
          <p class="modal-team-name">Olya</p>
          <p class="modal-team-name">Pryanishnikova</p>
          <a class="modal-team-link" href="https://github.com/OlyaArta">
            <img class="modal-team-icon-github" src="./images/icons/icon-github.png" alt="" />
          </a>
        </div>
      </li>

      <li class="modal-team-list_item">
        <img class="modal-team-img" src="./images/team/olha-tarasova.jpg" alt="Olha Tarasova" />
        <div class="modal-team-list_thumb">
          <p class="modal-team-name">Olha</p>
          <p class="modal-team-name">Tarasova</p>
          <a class="modal-team-link" href="https://github.com/Olha535">
            <img class="modal-team-icon-github" src="./images/icons/icon-github.png" alt="" />
          </a>
        </div>
      </li>

      <li class="modal-team-list_item">
        <img class="modal-team-img" src="./images/team/dmytro-tilug.jpg" alt="Dmytro Tilug" />
        <div class="modal-team-list_thumb">
          <p class="modal-team-name">Dmytro</p>
          <p class="modal-team-name">Tilug</p>
          <a class="modal-team-link" href="https://github.com/tilugdmytro">
            <img class="modal-team-icon-github" src="./images/icons/icon-github.png" alt="" />
          </a>
        </div>
      </li>

      <li class="modal-team-list_item">
        <img
          class="modal-team-img"
          src="./images/team/sergii-grishanenko.jpg"
          alt="Sergii Grishanenko"
        />
        <div class="modal-team-list_thumb">
          <p class="modal-team-name">Sergii</p>
          <p class="modal-team-name">Grishanenko</p>
          <a class="modal-team-link" href="https://github.com/serg-grish">
            <img class="modal-team-icon-github" src="./images/icons/icon-github.png" alt="" />
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
