<!-- <div class="backdrop is-hidden modal">
  <div class="modal-container"> -->

<div>
  <div>
    <ul class="modal-team-list list">
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon">
              <use href="./images/icons/icons8-github.svg"></use>
            </svg> -->
          </a>
        </div>
      </li>
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg> -->
          </a>
        </div>
      </li>
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg> -->
          </a>
        </div>
      </li>
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg> -->
          </a>
        </div>
      </li>
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg> -->
          </a>
        </div>
      </li>
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use> -->
            <!-- </svg> -->
          </a>
        </div>
      </li>
      <li class="modal-team-item">
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <img src="./images/icons/icons8-github-30.png" alt="" />
            <!-- <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use> -->
            <!-- </svg> -->
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
