<!-- <div class="backdrop is-hidden modal">
  <div class="modal-container"> -->

<div>
  <div>
    <ul>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <img src="./images/programmist.jpg" alt="" width="300" height="300" />
        <div class="modal-team-thumb">
          <h4 class="modal-team-name">Name Surname</h4>
          <a href="">
            <svg class="modal-team__icon" width="30" height="30" viewBox="0 0 30 30">
              <use href="./images/icons/github-icon.svg"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
