<section class="library">
  <div class="conteiner">
    <nav class="navigation">
      <a class="link navigation__logo-link" href="index.html">Filmoteka</a>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="link navigation__link navigation-link-home" href="index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link navigation-link-my-library current" href="">my library</a>
        </li>
      </ul>
    </nav>
    <ul class="list main__navigationLibrary">
      <li class="main__navigationLibrary-item">
        <button type="button" id="" class="button main__navigationLibraryButton">Watched</button>
      </li>
      <li class="main__navigationLibrary-item">
        <button type="button" id="" class="button main__navigationLibraryButton">Queue</button>
      </li>
    </ul>
  </div>
</section>
