<section class="library">
  <div class="conteiner">
    <nav class="navigation">
      <a class="link navigation__logo-link" href="index.html">Filmoteka</a>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="link navigation__link__home" href="index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="link navigation__link__library" href="">my library</a>
        </li>
      </ul>
    </nav>
    <ul class="list main__navigationLibrary">
      <li class="main__navigationLibrary-item">
        <button
          type="button"
          id=""
          class="button header-button header-button-watched is-active-btn"
        >
          Watched
        </button>
      </li>
      <li class="main__navigationLibrary-item">
        <button type="button" id="" class="button header-button header-button-queue">Queue</button>
      </li>
    </ul>
  </div>
</section>
