.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  grid-gap: 30px;
  padding: 0;
  list-style: none;
  padding-top: 60px;
}

.film-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.film-genres {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #ff6b08;
}

.vote-average {
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #ff6b08;
  border-radius: 5px;
  border: 1px solid #ff6b08;
  margin-left: 10px;
}

//====================== Люда =============================
.movie-card {
  cursor: pointer;
}

.movie-poster {
  transform: scale(1);
  border-radius: 5px;
}

.movie-poster:hover,
.movie-poster:focus {
  transition: transform box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: scale(1.02);
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
