img {
  width: 274px;
  height: 440px;
  object-fit: cover;
}

.cont-gallery {
  padding: 20px 20px;

  margin: 0 auto;
  // outline: 1px solid orange;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  grid-gap: 30px;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
}

.film-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.film-genres {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #ff6b08;
}

.vote-average {
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #ff6b08;
  border-radius: 5px;
  border: 1px solid #ff6b08;
  margin-left: 10px;
}

.emptyLibrary-list {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
}

.emptyLibrary__title {
  color: #ff6b01;
  line-height: 1.17;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.emptyLibrary__text {
  font-size: 14px;
  line-height: 1.14px;
  margin-bottom: 30px;
  color: white;
  -webkit-text-stroke: 0.04em rgb(10, 10, 10);
}

.emptyLibrary__text_too {
  font-size: 14px;
  line-height: 1.14px;
  margin-bottom: 15px;
  color: white;
  -webkit-text-stroke: 0.04em rgb(10, 10, 10);
}
.emptyLibrary__text_next {
  font-size: 14px;
  line-height: 1.14px;
  margin-bottom: 50px;
  color: white;
  -webkit-text-stroke: 0.04em rgb(10, 10, 10);
}

.emptyLibrary__text-or {
  font-size: 35px;
  line-height: 1.21px;
  -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  color: white;
  margin-top: 70px;
}

.emptyLibrary__link {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  cursor: pointer;
  background-color: #ff6b01;
  color: white;
  padding: 10px 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emptyLibrary__link:hover,
.emptyLibrary__link:focus {
  background-color: #ff6b01;
}

.gallery-bgr {
  height: 500px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-cinema.jpg);
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 30px;
}

//====================== Люда =============================
.movie-card {
  cursor: pointer;
}

.movie-poster {
  transform: scale(1);
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-poster:hover,
.movie-poster:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: scale(1.02);

  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  // box-shadow: 10px -5px 28px rgba(0, 0, 0, 0.25), 10px -5px 10px rgba(0, 0, 0, 0.22),
  //   -10px 0 28px rgba(0, 0, 0, 0.25), -10px 0 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0px -3px 22px 5px rgba(0, 0, 0, 0.37), 0px -3px 22px 5px rgba(0, 0, 0, 0.37);
}

@media screen and (min-width: 768px) {
  .cont-gallery {
    padding-top: 60px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .emptyLibrary__text {
    font-size: 20px;
    line-height: 1.21px;
    margin-bottom: 50px;
    color: white;
    -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  }

  .emptyLibrary__text_too {
    font-size: 20px;
    line-height: 1.21px;
    margin-bottom: 20px;
    color: white;
    -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  }
  .emptyLibrary__text_next {
    font-size: 20px;
    line-height: 1.21px;
    margin-bottom: 50px;
    color: white;
    -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  }
}

@media screen and (min-width: 1024px) {
  .emptyLibrary__text {
    font-size: 24px;
    line-height: 1.21px;
    margin-bottom: 50px;
    color: white;
    -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  }

  .emptyLibrary__text_too {
    font-size: 24px;
    line-height: 1.21px;
    margin-bottom: 30px;
    color: white;
    -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  }
  .emptyLibrary__text_next {
    font-size: 24px;
    line-height: 1.21px;
    margin-bottom: 50px;
    color: white;
    -webkit-text-stroke: 0.04em rgb(10, 10, 10);
  }
}
