button {
  border: none;
}

.list {
  list-style-type: none;
}

.address {
  font-style: normal;
}

// ============ HEADER ============
.current {
  border-bottom: 1px solid #ff6b08;
}
@media screen and (min-width: 320px) {
  .header {
    background: rgba(0, 0, 0, 0.56);
    background-image: url(../images/header-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteiner {
    height: 230px;
    padding: 46px 20px 97px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .navigation__logo-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;

    animation: rubberBand;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &:hover,
    &:focus {
      animation-play-state: paused;
    }
  }
  .navigation__logo-link::before {
    content: url(../images/icons/film.svg);
    margin-right: 10px;
  }
  .navigation__list {
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 39px;
  }
  .navigation__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #ffffff;
  }

  //=============INPUT===============\
  .film-search {
    position: relative;
    display: inline;
  }
  .navigation__search {
    position: relative;
    margin-top: 52px;
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;

    &::placeholder {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      outline: none;
      border-bottom: 1px solid #ff6b01;
    }

    transition-property: border-bottom;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .film-search__icon {
    position: absolute;
    margin: 3px;
    top: 0;
    right: 0;
  }
  //===========================
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../images/header-background-tablet@1x.jpg);
  }
  .conteiner {
    padding: 41px 71px 97px;
  }
  .navigation__search {
    width: 336px;
    margin-top: 57px;
    margin-left: 23%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url(../images/header-backgroung-desktop@1x.jpg);
  }
  .conteiner {
    padding: 41px 71px 97px;
  }
  .navigation__search {
    margin-left: 31%;
  }
}
