// .main__navigationLibrary {
//   display: flex;
//   justify-content: center;
// }

.library {
  height: 230px;
  background: rgba(0, 0, 0, 0.56);
  background-image: url(../images/library/header-library-background-mobile@1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library {
    background-image: url('../images/library/header-library-background-mobile@2x.jpg');
  }
}
.main__navigationLibrary {
  display: flex;
  justify-content: center;
  //margin-top: 45px;
}

.main__navigationLibraryButton {
  width: 130px;
  height: 44px;

  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: 1px solid;
  background: inherit;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.main__navigationLibraryButton:hover,
.main__navigationLibraryButton:focus {
  background: #ff6b01;
  border: none;

  animation: pulse;
  animation-duration: 1s;
  animation-iteration-count: 2;
  cursor: pointer;
}

.main__navigationLibraryButton:hover,
.main__navigationLibraryButton:focus {
  background: #ff6b01;
  border: none;
}

.header__library {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 45px 20px;
  height: 230px;
}

.logo_svg {
  width: 24px;
  height: 24px;
  align-self: center;
}

// .main__navigationLibrary-item {
//   margin-right: 20px;
// }

.main__navigationLibrary-item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .library {
    height: 230px;
    background: rgba(0, 0, 0, 0.56);
    background-image: url(../images/library/header-library-background-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library {
      background-image: url('../images/library/header-library-background-tablet@2x.jpg');
    }
  }
  // .main__navigationLibrary {
  //   display: flex;
  //   justify-content: center;
  // }
  .main__navigationLibrary-item:not(:last-child) {
    margin-right: 15px;
  }
  .header__library {
    padding: 45px 60px 20px;
  }
  .logo_svg {
    margin-right: 10px;
  }

  .icon-film {
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .library {
    height: 230px;
    background: rgba(0, 0, 0, 0.56);
    background-image: url(../images/library/header-library-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library {
      background-image: url('../images/library/header-library-background-desktop@2x.jpg');
    }
  }

  .header__library {
    padding: 45px 20px;
    padding-top: 40px;
  }
}

/////////////////////////////// Люда
.is-active-header-btn {
  background: #ff6b01;
  border: none;
}

.io-hidden {
  display: none;
}
