.team {
  // width: 500px;
  // height: 50px;
  // background-color: rgb(83, 174, 226);
}

.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  // background-color: rgb(255, 107, 1, 0.25);
  opacity: 1;
  z-index: 1000000;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-team.is-hidden-team {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

//   .uppercase {
//     text-transform: uppercase;
//   }

.modal-team-container {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #000;
  // z-index: 1000000;
  // outline: 1px solid red;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  //   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //     0px 2px 1px rgba(0, 0, 0, 0.2);
  //   border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #fff;

  @media screen and (min-width: 320px) {
    max-width: 958px;
    height: 90vh;
    padding: 40px 20px 15px 20px;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      width: 618px;
      height: 562px;
      padding: 25px 30px 6px 28px;
      overflow: auto;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 618px;
      height: 568px;
      padding: 20px 30px 6px 28px;
      overflow: auto;
    }
  }
}

.modal-team-close-btn {
  position: absolute;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  top: 5px;
  right: 5px;
  // width: 30px;
  // height: 30px;
  // margin-bottom: 16px;
  // padding: 6px;
  background: transparent;
  cursor: pointer;
  border: none;
  // outline: 1px solid red;
}

.modal-team-close-btn__icon:hover,
.modal-team-close-btn__icon:focus {
  box-shadow: 0 5px 40px 5px rgb(220 51 24 / 40%);
}

.modal-team-close-btn__icon {
  width: 30px;
  height: 30px;
  fill: #000000;
  border-radius: 50px;
  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-team-list {
  // @media screen and (min-width: 320px) {

  // }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -20px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -20px;
    }
  }
  // outline: 1px solid rgb(76, 11, 114);
}
.modal-team-list_item {
  margin-bottom: 12px;
  // @media screen and (min-width: 320px) {

  // }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      margin-left: 20px;
      flex-basis: calc(100% / 3 - 20px);
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      margin-left: 20px;
      flex-basis: calc(100% / 3 - 20px);
    }
  }
  // outline: 1px solid rgb(11, 114, 57);
}

.modal-team-img {
  // width: 200px;
  // height: 250px;
  width: 150px;
  height: 187px;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
  // outline: 1px solid rgb(183, 212, 17);
}

.modal-team-list_thumb {
  margin-top: 4px;
}

.modal-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
}

.modal-team-icon-github {
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
