.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  z-index: 1000000;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.modal-container {
  position: absolute;
  //   width: 450px;
  //   height: 609px;
  top: 50%;
  left: 50%;

  // overflow-y: scroll;
  color: #000;
  // z-index: 1000000;
  // outline: 1px solid red;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  //   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //     0px 2px 1px rgba(0, 0, 0, 0.2);
  //   border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #fff;

  @media screen and (min-width: 320px) {
    max-width: 958px;
    height: 90vh;
    padding: 48px 20px 40px 20px;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      width: 618px;
      height: 562px;
      padding: 50px 30px 40px 28px;
      overflow: auto;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 882px;
      height: 568px;
      overflow: auto;
    }
  }
}

.modal-close-btn {
  position: absolute;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  top: 10px;
  right: 10px;
  // width: 30px;
  // height: 30px;
  // margin-bottom: 16px;
  // padding: 6px;
  background: transparent;
  cursor: pointer;
  // border-radius: 50%;
  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  // outline: 1px solid red;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn__icon:hover,
.modal-close-btn__icon:focus {
  // border-radius: 50%;
  box-shadow: 0 5px 40px 5px rgb(220 51 24 / 40%);
}

.modal-close-btn__icon {
  width: 30px;
  height: 30px;
  fill: #000000;
  border-radius: 50px;
  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// .modal-close-btn__icon:hover,
// .modal-close-btn__icon:focus {
//   box-shadow: 0 5px 40px 5px rgb(220 51 24 / 40%);
//   fill: #ff6b08;
// }

.modal-movie-card {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  // outline: 1px solid rgb(71, 30, 126);
  // background-color: aqua;

  @media screen and (min-width: 320px) {
    // width: 356px;
    min-height: 400px;
    margin-bottom: 20px;
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      // width: 618px;
      min-height: 264px;
      display: flex;
      align-items: flex-start;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      min-height: 478px;
      display: flex;
      align-items: flex-start;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.movie-card-thumb {
  position: relative;
  @media screen and (min-width: 320px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      margin-left: 32px;
      margin-top: 0;

      // margin-top: 0;
      // margin-left: 32px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 396px;
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.movie-card-metrics {
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-card-title {
  font-size: 20px;
  line-height: 1.15;
  // margin-bottom: 10px;
}

.modal-img {
  border-radius: 5px;
  object-fit: cover;

  @media screen and (min-width: 320px) {
    min-width: 240px;
    min-height: 356px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      width: 264px;
      height: 374px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 396px;
      height: 478px;
      margin: 0;
    }
  }
}

.movie-card-item {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // margin-top: 10px;

  // outline: 1px solid rgb(40, 121, 57);
}

.movie-card-item:not(:last-child) {
  margin-bottom: 10px;
}

.movie-metrics-title {
  color: #8c8c8c;
  // flex-grow: 1;
  width: 107px;
  padding: 0;

  // outline: 1px solid rgb(71, 30, 126);

  @media screen and (min-width: 320px) {
    width: 107px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      width: 107px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 150px;
    }
  }
}

.movie-metrics-value {
  // flex-grow: 1;

  color: #000;
  // outline: 1px solid rgb(126, 73, 30);

  @media screen and (min-width: 320px) {
    width: 107px;
  }

  @media screen and (min-width: 768px) {
    & {
      width: 157px;

      // margin-top: 0;
      // margin-left: 32px;
    }
  }

  // @media screen and (min-width: 1024px) {
  //   & {
  //     width: 882px;
  //     height: 568px;
  //   }
  // }
}

.movie-vote {
  width: 36px;
  height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff6b01;
  border-radius: 4px;
}

.genre {
  display: flex;
  align-items: start;
}

.movie-discripsh-title {
  margin-bottom: 10px;
}

.movie-discripsh-content {
  line-height: 1.67;
}

.modal-btn-list {
  display: flex;

  // @media screen and (min-width: 320px) {
  //
  // }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      justify-content: flex-end;

      // margin-top: 0;
      // margin-left: 32px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      position: absolute;
      top: 450px;
      left: 456px;
    }
  }
}

.modal-btn-list-item:not(:last-child) {
  margin-right: 15px;
}

.add-watched-btn,
.add-queue-btn {
  background-color: #fff;

  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    animation: swing;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }

  @media screen and (min-width: 320px) {
    width: 112px;
    height: 44px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    & {
      width: 125px;
      height: 44px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      width: 136px;
      height: 44px;
    }
  }
}

.add-collection {
  background-color: #ff6b01;
  color: #fff;
  border: none;
}
