body {
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.light-theme {
  background-color: #fff;
  color: #333333;
}

body.dark-theme {
  //background-color: #333333;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/dark-theme-background.jpg);
  color: #fff;

  .movie-poster:hover,
  .movie-poster:focus {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transform: scale(1.02);
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //   0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -3px 22px 5px rgba(255, 107, 1, 0.25), 0px -3px 22px 5px rgba(255, 107, 1, 0.22);
  }
}

@media screen and (min-width: 320px) {
  .theme-switch {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 15px;
    top: 200px;
  }
}

@media screen and (min-width: 768px) {
  .theme-switch {
    right: 60px;
  }
}

.theme-switch__icon {
  color: #fff;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 10px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(15px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b01;
}
